.floatl {
	float:left;
	margin-right:10px; 
}

.floatr {
	float:right;
	margin-left:10px;
}

.bbcodeleft {
    text-align: left;
	margin-bottom: 1em;
}

.bbcodecenter {
    text-align: center;
	margin-bottom: 1em;
}

.bbcoderight {
    text-align: right;
	margin-bottom: 1em;
}

.bbcodejustify {
    text-align: justify;
    margin-bottom: 1em;
}